.card {
  background-color: #4F4F4FCC;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 15px 15px 30px 0px #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px 20px 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%; /* Asegura que llenen el grid */
}

.card:hover {
  background: #212121CC;
  box-shadow: 0 15px 35px -5px rgba(0, 0, 0, 0.6);
}

.name {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0 0 1rem 0;
  text-align: center;
  padding: 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.image {
  object-fit: cover;
}

.likeButton {
  width: 100%;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  padding: 2px;
}
